body { 
	font: sans-serif;
	line-height: 2;
	color: #5a9124; 
	background: #ff4; 
	}
p { 
    margin: 10px 200px 10px; 
	padding: 0 50px 0; 
    font-size: 22px;
    text-align: center;
    color: rgb(23, 172, 23);
	}
h1 { 
	font: 2em Impact;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 0, 0);
    text-align: center;
    }
.pics {
    display: block;
  margin-left: auto;
  margin-right: auto;
    border: 3px solid green;
    padding: 10px;
}
h2 { 
	font: 3em Impact;
	letter-spacing: 1px; 
	margin-bottom: 0; 
    color: rgb(255, 0, 0);
    text-align: center;
    }
    #flash {
        color: #4c4a37;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 18px;
        line-height: 32px;
        margin: 0 0 24px;
    }
    ul { text-align: center;
    font-family: Arial, Helvetica, sans-serif; 
list-style-type: none;
margin-left: -50px;}